body {
	background: url(nintendo.jpg);
	font-family: "Wallpoet";
	margin-left: 30%;
	margin-right: 30%;

}

.headingStyle {
	font-size: 54px;

}

.headingStyle2 {
	font-size: 36px;

}

.addButton {
	background-color: orange;
	width: 20%;
	font-family: "Wallpoet";

}

#deleteButton {
	width: 20%;
	background-color: green;
}

